# Workbench

**Import packages**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mp
%matplotlib inline

In [5]:
supermarket_df = pd.read_csv("supermarket_till_transactions.csv")
supermarket_df.sample(5)

,SHOP_WEEK,SHOP_DATE,SHOP_WEEKDAY,SHOP_HOUR,QUANTITY,SPEND,PROD_CODE,PROD_CODE_10,PROD_CODE_20,PROD_CODE_30,...,CUST_PRICE_SENSITIVITY,CUST_LIFESTAGE,BASKET_ID,BASKET_SIZE,BASKET_PRICE_SENSITIVITY,BASKET_TYPE,BASKET_DOMINANT_MISSION,STORE_CODE,STORE_FORMAT,STORE_REGION
118,200607,20060414,6,19,1,499,PRD0903833,CL00234,DEP00083,G00028,...,LA,OA,994100100540327,M,MM,Small Shop,Grocery,STORE02847,LS,N01
44,200607,20060413,5,8,1,66,PRD0904867,CL00157,DEP00053,G00016,...,MM,OT,994100100398404,L,MM,Full Shop,Mixed,STORE00008,MS,N01
96,200607,20060412,4,15,1,101,PRD0903074,CL00045,DEP00011,G00004,...,NaN,NaN,994100100088144,L,LA,Top Up,Fresh,STORE00103,MS,N03
59,200607,20060410,2,9,3,294,PRD0903351,CL00005,DEP00002,G00001,...,NaN,NaN,994100100014637,L,UM,Full Shop,Mixed,STORE00013,LS,N02
28,200607,20060414,6,15,1,219,PRD0904370,CL00068,DEP00019,G00007,...,LA,OT,994100100206797,L,LA,Top Up,Fresh,STORE00002,LS,W01

In [6]:
supermarket_df.columns

Index(['SHOP_WEEK', 'SHOP_DATE', 'SHOP_WEEKDAY', 'SHOP_HOUR', 'QUANTITY',
       'SPEND', 'PROD_CODE', 'PROD_CODE_10', 'PROD_CODE_20', 'PROD_CODE_30',
       'PROD_CODE_40', 'CUST_CODE', 'CUST_PRICE_SENSITIVITY', 'CUST_LIFESTAGE',
       'BASKET_ID', 'BASKET_SIZE', 'BASKET_PRICE_SENSITIVITY', 'BASKET_TYPE',
       'BASKET_DOMINANT_MISSION', 'STORE_CODE', 'STORE_FORMAT',
       'STORE_REGION'],
      dtype='object')

In [10]:
supermarket_df = supermarket_df.drop(columns=['PROD_CODE', 'PROD_CODE_10', 'PROD_CODE_20', 'PROD_CODE_30',
       'PROD_CODE_40'])
supermarket_df.sample(5)

,SHOP_WEEK,SHOP_DATE,SHOP_WEEKDAY,SHOP_HOUR,QUANTITY,SPEND,CUST_CODE,CUST_PRICE_SENSITIVITY,CUST_LIFESTAGE,BASKET_ID,BASKET_SIZE,BASKET_PRICE_SENSITIVITY,BASKET_TYPE,BASKET_DOMINANT_MISSION,STORE_CODE,STORE_FORMAT,STORE_REGION
85,200607,20060412,4,13,1,67,NaN,NaN,NaN,994100100058515,L,UM,Top Up,Fresh,STORE00078,LS,S01
15,200607,20060414,6,15,1,75,CUST0000089820,LA,OT,994100100206797,L,LA,Top Up,Fresh,STORE00002,LS,W01
14,200607,20060414,6,15,1,108,CUST0000089820,LA,OT,994100100206797,L,LA,Top Up,Fresh,STORE00002,LS,W01
46,200607,20060410,2,9,1,52,NaN,NaN,NaN,994100100014637,L,UM,Full Shop,Mixed,STORE00013,LS,N02
5,200607,20060413,5,20,6,156,CUST0000634693,LA,YF,994100100532898,L,LA,Top Up,Fresh,STORE00001,LS,E02