## Numpy

In [ ]:
# loading the numpy package
import numpy as np

In [ ]:
# check the version
np.__version__

In [ ]:
#create a list comprising numbers from 0 to 9
L = list(range(10))

In [ ]:
#converting integers to string in a loop - this style of handling lists is known as list comprehension.
[str(c) for c in L]
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

[type(item) for item in L]
[int, int, int, int, int, int, int, int, int, int]

In [ ]:
#creating arrays
np.zeros(10, dtype='int')
np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
#creating a 3 row x 5 column matrix
np.ones((3,5), dtype=float)
np.array([[ 1.,  1.,  1.,  1.,  1.],
      [ 1.,  1.,  1.,  1.,  1.],
      [ 1.,  1.,  1.,  1.,  1.]])

In [ ]:
#creating a matrix with a predefined value
np.full((3,5),1.23)
np.array([[ 1.23,  1.23,  1.23,  1.23,  1.23],
      [ 1.23,  1.23,  1.23,  1.23,  1.23],
      [ 1.23,  1.23,  1.23,  1.23,  1.23]])

In [ ]:
#create an identity matrix
np.eye(3)
np.array([[ 1.,  0.,  0.],
      [ 0.,  1.,  0.],
      [ 0.,  0.,  1.]])

In [ ]:
#set a random seed
np.random.seed(0)


x1 = np.random.randint(10, size=6) #one dimension
x2 = np.random.randint(10, size=(3,4)) #two dimension
x3 = np.random.randint(10, size=(3,4,5)) #three dimension


print("x3 ndim:", x3.ndim)
print("x3 shape:", x3.shape)
print("x3 size: ", x3.size)
('x3 ndim:', 3)
('x3 shape:', (3, 4, 5))
('x3 size: ', 60)

In [ ]:
# Array Slicing
x = np.arange(10)
x
np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#from start to 4th position
x[:5]
np.array([0, 1, 2, 3, 4])

In [ ]:
#from 4th position to end
x[4:]
np.array([4, 5, 6, 7, 8, 9])

In [ ]:
#from 4th to 6th position
x[4:7]
np.array([4, 5, 6])

In [ ]:
#return elements at even place
x[ : : 2]
np.array([0, 2, 4, 6, 8])

In [ ]:
#return elements from first position step by two
x[1::2]
np.array([1, 3, 5, 7, 9])

In [ ]:
#reverse the array
x[::-1]
np.array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

## Pandas

In [ ]:
# load package Pandas
import pandas as pd

In [ ]:
#create a data frame - dictionary is used here where keys get converted to column names and values to row values.
data = pd.DataFrame({'Country': ['Russia','Colombia','Chile','Equador','Nigeria'],
                    'Rank':[121,40,100,130,11]})
data

In [ ]:
#We can do a quick analysis of any data set using:
data.describe()

In [ ]:
#Among other things, it shows the data set has 5 rows and 2 columns with their respective names.
data.info()

In [ ]:
#Let's create another data frame.
data = pd.DataFrame({'group':['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],'ounces':[4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

In [ ]:
#Let's sort the data frame by ounces - inplace = True will make changes to the data
data.sort_values(by=['ounces'],ascending=True,inplace=False)

In [ ]:
#create another data with duplicated rows
data = pd.DataFrame({'k1':['one']*3 + ['two']*4, 'k2':[3,2,1,3,3,4,4]})
data

In [ ]:
# loading csv files
df = pd.read_csv('card_data.csv')
df

In [ ]:
# show top columns
df.head()

In [ ]:
df.columns

In [ ]:
df.tail()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

#### LAB: Using matplotlib, visualize the data given

More practicing resources:
[1]: https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles-with-solutions.ipynb

[2]: https://github.com/rougier/numpy-100/blob/master/100_Numpy_exercises.ipynb