# Name: ALXEN07ds

Replace the above Name with your attendance code

### Action_1:

Rename this Azure Jupyper notebook to include your attendance code. Week11_ds2019_(YOUR_ATTENDANCE_CODE)

* example : Week11_ds2019_--##ds

# Machine Learning Algorithm



### Instructions

* For each of the following questions below, write corresponding Python code that answers each question.
* Remember to set your Python Interpreter to Python 3.6 and above.
* Discretionary points will be awarded for attempts made to answer each question.
* Each student is encouraged to work independently in arriving at the solutions.

#### 1. Importing packages 

You will need the following packages/libraries for this assignment:

a) Data loading and manipulating: Pandas and Numpy

b) Machine Learning models: sklearn

Hint: import assessment as ds
         from ds import assessment

In [1]:
# import packages
import pandas as pd
import numpy as np
import sklearn as skl
import sklearn.metrics as sklm
from sklearn.model_selection import train_test_split

from sklearn import linear_model

#### 2. Loading the data

After downloading the data from http://tiny.cc/19hqfz, load the train and test data


Hint: package.read_csv(train.csv)

In [2]:
# read data
train_df = pd.read_csv("train_.csv")
test_df = pd.read_csv('test_.csv')

#sample the dataframes
print(train_df.sample(5))
print(test_df.sample(5))

    Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
383   Male      No          0      Graduate           Yes             7167
580   Male     Yes          2      Graduate            No             6540
190   Male      No          0  Not Graduate            No             4885
472   Male     Yes         3+      Graduate            No             4691
13    Male      No          0      Graduate            No             1853

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
383                0.0       128.0             360.0             1.0
580                0.0       205.0             360.0             1.0
190                0.0        48.0             360.0             1.0
472                0.0       100.0             360.0             1.0
13              2840.0       114.0             360.0             1.0

    Property_Area  Loan_Status
383         Urban            1
580     Semiurban            1
190         Rural            1
472     Semiurban            1
13          Rural            0
     Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
31     Male     Yes          2      Graduate            No             6250
236  Female      No          0      Graduate            No             2274
242    Male     Yes          0      Graduate            No             3510
32     Male      No          0      Graduate            No             3268
292    Male      No          0  Not Graduate            No             3271

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
31                 820       192.0             360.0             1.0
236               5211       117.0             360.0             0.0
242                828       105.0             360.0             1.0
32                1683       152.0             360.0             1.0
292                  0        90.0             360.0             1.0

    Property_Area
31          Urban
236     Semiurban
242     Semiurban
32      Semiurban
292         Rural

#### 3. Data cleaning and exploration

After loading the data, explore and clean the data in preparation for training. 

Hint: 
a) List of column

b) View the data rows (can view the first few rows or columns)

c) Types of data columns

d) Summary statistics of the data


Note: You can tackle each section in code block

In [3]:
# list columns of the train dataframe
train_df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [4]:
# View row sample of train dataframe
train_df.sample(10)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,1
479,Male,Yes,2,Graduate,No,2947,1603.0,NaN,360.0,1.0,Urban,0
375,Male,Yes,0,Graduate,No,4817,923.0,120.0,180.0,1.0,Urban,1
181,Male,No,0,Graduate,No,1916,5063.0,67.0,360.0,NaN,Rural,0
110,Male,No,0,Graduate,No,5316,0.0,136.0,360.0,1.0,Urban,1
419,Male,Yes,0,Graduate,No,3246,1417.0,138.0,360.0,1.0,Semiurban,1
418,Male,Yes,0,Graduate,No,1025,2773.0,112.0,360.0,1.0,Rural,1
334,NaN,Yes,1,Graduate,Yes,9833,1833.0,182.0,180.0,1.0,Urban,1
358,Male,Yes,0,Not Graduate,No,3000,1666.0,100.0,480.0,0.0,Urban,0
343,Male,Yes,3+,Not Graduate,No,3173,0.0,74.0,360.0,1.0,Semiurban,1

In [5]:
# Look at the column data type in the train dataframe
train_df.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status            int64
dtype: object

In [6]:
# Statistical analysis of the train dataframe
train_df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
count,614.000000,614.000000,592.000000,600.00000,564.000000,614.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199,0.687296
std,6109.041673,2926.248369,85.587325,65.12041,0.364878,0.463973
min,150.000000,0.000000,9.000000,12.00000,0.000000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000,0.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000,1.000000

#### 4. Find missing values

Hint: 
Find the sum of the missing values

In [7]:
# Find the missing values in the train dataframe
train_df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

#### 5. Handle the missing values 

Hint: 
There are a number of techniques to do so, use any that works for you.

In [8]:
# Count the unique values in the Credit_History column
train_df.Credit_History.value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [9]:
#Replace all the missing by replacing with the min,mean or dropping the rows

#Replace with min
train_df.Credit_History.fillna(0.0, inplace = True)
train_df.Dependents.fillna(0, inplace = True)
#Replace with mean
train_df.LoanAmount.fillna(train_df.LoanAmount.mean(),inplace = True)
train_df.Loan_Amount_Term.fillna(train_df.Loan_Amount_Term.mean(),inplace= True)

#Let's see what we have
train_df.isnull().sum()

Gender               13
Married               3
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
#Drop empty rows
train_df.dropna(axis=0, inplace=True)

#Let's see what we have
train_df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 566 entries, 0 to 613
Data columns (total 12 columns):
Gender               566 non-null object
Married              566 non-null object
Dependents           566 non-null object
Education            566 non-null object
Self_Employed        566 non-null object
ApplicantIncome      566 non-null int64
CoapplicantIncome    566 non-null float64
LoanAmount           566 non-null float64
Loan_Amount_Term     566 non-null float64
Credit_History       566 non-null float64
Property_Area        566 non-null object
Loan_Status          566 non-null int64
dtypes: float64(4), int64(2), object(6)
memory usage: 57.5+ KB

In [12]:
train_df.Property_Area.unique()
train_df.Property_Area[151]

'Rural'

#### 6. Other pre-processing techniques

Hint: 
Feature selection

In [13]:
# encode some columns with binary encoding
cols = {'Gender':{'Male':0, 'Female':1}, 
        'Married':{'No':0, 'Yes':1}, 
        'Dependents':{'0':0, '1':1, '2':2, '3+':3}, 
        'Education':{'Graduate':1, 'Not Graduate':0}, 
        'Self_Employed':{'No':0, 'Yes':1},
        'Property_Area':{'Urban':0, 'Rural':1, 'Semiurban':2}
       }
for key in cols:
    for k in cols[key]:
        train_df = train_df.replace(to_replace=k, value=cols[key].get(k))
train_df.sample(3)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
14,0,1,2,1,0,1299,1086.0,17.0,120.0,1.0,0,1
2,0,1,0,1,1,3000,0.0,66.0,360.0,1.0,0,1
455,0,1,2,1,0,3859,0.0,96.0,360.0,1.0,2,1

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 566 entries, 0 to 613
Data columns (total 12 columns):
Gender               566 non-null int64
Married              566 non-null int64
Dependents           566 non-null int64
Education            566 non-null int64
Self_Employed        566 non-null int64
ApplicantIncome      566 non-null int64
CoapplicantIncome    566 non-null float64
LoanAmount           566 non-null float64
Loan_Amount_Term     566 non-null float64
Credit_History       566 non-null float64
Property_Area        566 non-null int64
Loan_Status          566 non-null int64
dtypes: float64(4), int64(8)
memory usage: 77.5 KB

#### 8. Implement a predictive model

Hint: 
Logistic Regression

In [15]:
# Split data  and make loan status column the y label
y_label = train_df.Loan_Status
X_train, X_test, y_train, y_test = train_test_split(train_df, y_label, test_size=0.2, shuffle=True)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(452, 12) (114, 12) (452,) (114,)

In [16]:
# Train model
log_mod = linear_model.LogisticRegression() 
log_mod.fit(X_train, y_train)

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
# Predict the test label
prediction = log_mod.predict_proba(X_test)
prediction[:5,:]

array([[0.0282698 , 0.9717302 ],
       [0.02700425, 0.97299575],
       [0.96037942, 0.03962058],
       [0.0217557 , 0.9782443 ],
       [0.92390701, 0.07609299]])

#### 9. Evaluate your predictive model
Hint: 
How do you evaluate a classifier model

In [18]:
# Encode the probability of the prdiction as binary
results = np.array([1 if pred > 0.5 else 0 for pred in prediction[:,1]])
results

array([1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1])

In [19]:
# Evaluate Model
metrics = sklm.precision_recall_fscore_support(y_test, results)
conf = sklm.confusion_matrix(y_test, results)
accuracy=sklm.accuracy_score(y_test, results)

In [20]:
metrics

(array([1., 1.]),
 array([1., 1.]),
 array([1., 1.]),
 array([42, 72], dtype=int64))

In [22]:
# Print out the metrics
print('                 Confusion matrix')
print('                     positive        negative')
print('Actual positive    %6d' % conf[0,0] + '             %5d' % conf[0,1])
print('Actual negative    %6d' % conf[1,0] + '             %5d' % conf[1,1])
print('')
print('Accuracy  %0.2f' % accuracy)
print(' ')
print('           Positive      Negative')
print('Num case   %6d' % metrics[3][0] + '        %6d' % metrics[3][1])
print('Precision  %6.2f' % metrics[0][0] + '        %6.2f' % metrics[0][1])
print('Recall     %6.2f' % metrics[1][0] + '        %6.2f' % metrics[1][1])
print('F1         %6.2f' % metrics[2][0] + '        %6.2f' % metrics[2][1])

                 Confusion matrix
                     positive        negative
Actual positive        42                 0
Actual negative         0                72

Accuracy  1.00

           Positive      Negative
Num case       42            72
Precision    1.00          1.00
Recall       1.00          1.00
F1           1.00          1.00