In [1]:
import pandas as pd

In [2]:
Traindemographics=pd.read_csv('traindemographics.csv')
Testdemographics=pd.read_csv('testdemographics.csv')

In [3]:
Trainprevious=pd.read_csv('trainprevloans.csv')
Testprevious=pd.read_csv('testprevloans.csv')

In [4]:
Trainperfomance=pd.read_csv('trainperf.csv')
Testperfomance=pd.read_csv('testperf.csv')

In [5]:
Tdemographics=pd.concat([Traindemographics,Testdemographics])
Tperfomance=pd.concat([Trainperfomance,Testperfomance])
Tprevious=pd.concat([Trainprevious,Testprevious])

C:\Users\s.Ad\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [6]:
Tperfomance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5818 entries, 0 to 1449
Data columns (total 10 columns):
approveddate     5818 non-null object
creationdate     5818 non-null object
customerid       5818 non-null object
good_bad_flag    4368 non-null object
loanamount       5818 non-null float64
loannumber       5818 non-null int64
referredby       771 non-null object
systemloanid     5818 non-null int64
termdays         5818 non-null int64
totaldue         5818 non-null float64
dtypes: float64(2), int64(3), object(5)
memory usage: 500.0+ KB

In [7]:
Tprevious.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24090 entries, 0 to 5906
Data columns (total 12 columns):
customerid         24090 non-null object
systemloanid       24090 non-null int64
loannumber         24090 non-null int64
approveddate       24090 non-null object
creationdate       24090 non-null object
loanamount         24090 non-null float64
totaldue           24090 non-null float64
termdays           24090 non-null int64
closeddate         24090 non-null object
referredby         1351 non-null object
firstduedate       24090 non-null object
firstrepaiddate    24090 non-null object
dtypes: float64(2), int64(3), object(7)
memory usage: 2.4+ MB

In [8]:
Tdemographics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5833 entries, 0 to 1486
Data columns (total 9 columns):
customerid                    5833 non-null object
birthdate                     5833 non-null object
bank_account_type             5833 non-null object
longitude_gps                 5833 non-null float64
latitude_gps                  5833 non-null float64
bank_name_clients             5833 non-null object
bank_branch_clients           65 non-null object
employment_status_clients     4968 non-null object
level_of_education_clients    797 non-null object
dtypes: float64(2), object(7)
memory usage: 455.7+ KB

In [9]:
Tperfomance.nunique()

approveddate     5541
creationdate     5550
customerid       5818
good_bad_flag       2
loanamount         10
loannumber         24
referredby        657
systemloanid     5818
termdays            4
totaldue           48
dtype: int64

In [10]:
Tprevious.nunique()

customerid          5801
systemloanid       24090
loannumber            33
approveddate       24067
creationdate       24071
loanamount            18
totaldue             106
termdays               4
closeddate         23725
referredby           656
firstduedate         369
firstrepaiddate    23826
dtype: int64

In [11]:
Tdemographics.nunique()

customerid                    5818
birthdate                     4078
bank_account_type                3
longitude_gps                 5440
latitude_gps                  5776
bank_name_clients               18
bank_branch_clients             55
employment_status_clients        6
level_of_education_clients       4
dtype: int64

In [12]:
Tdemographics.head()

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients
0,8a858e135cb22031015cbafc76964ebd,1973-10-10 00:00:00.000000,Savings,3.319219,6.528604,GT Bank,NaN,NaN,NaN
1,8a858e275c7ea5ec015c82482d7c3996,1986-01-21 00:00:00.000000,Savings,3.325598,7.119403,Sterling Bank,NaN,Permanent,NaN
2,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,5.746100,5.563174,Fidelity Bank,NaN,NaN,NaN
3,8a858efd5ca70688015cabd1f1e94b55,1991-07-19 00:00:00.000000,Savings,3.362850,6.642485,GT Bank,NaN,Permanent,NaN
4,8a858e785acd3412015acd48f4920d04,1982-11-22 00:00:00.000000,Savings,8.455332,11.971410,GT Bank,NaN,Permanent,NaN

In [13]:
Tdemographics.drop_duplicates(subset=Tdemographics.columns,keep='last', inplace=True)

In [14]:
Tdemographics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5818 entries, 0 to 1486
Data columns (total 9 columns):
customerid                    5818 non-null object
birthdate                     5818 non-null object
bank_account_type             5818 non-null object
longitude_gps                 5818 non-null float64
latitude_gps                  5818 non-null float64
bank_name_clients             5818 non-null object
bank_branch_clients           65 non-null object
employment_status_clients     4953 non-null object
level_of_education_clients    795 non-null object
dtypes: float64(2), object(7)
memory usage: 454.5+ KB

In [15]:
Tdemographics.birthdate=Tdemographics.birthdate.astype('datetime64')

In [16]:
Tdemographics['Age']=2018-Tdemographics.birthdate.dt.year

In [17]:
Tdemographics.Age=pd.cut(Tdemographics.Age,[0,13,31,51,100],labels=['ChildAge','YoungAge','MiddleAge','SeniorAge'])

def location(data):
    latlng=str(data.latitude_gps,data.longitude_gps)
    from geopy.geocoders import Nominatim
    geocode=Nominatim(user_agent='my-application')
    location=geocode.reverse('['+latlng+']')
    location=location.raw()
    return(location['address'])
Tdemographics['Address']=Tdemographics.apply(location,axis=1)

In [18]:
Tdemographics.isnull().sum()

customerid                       0
birthdate                        0
bank_account_type                0
longitude_gps                    0
latitude_gps                     0
bank_name_clients                0
bank_branch_clients           5753
employment_status_clients      865
level_of_education_clients    5023
Age                              0
dtype: int64

In [19]:
Tdemographics.drop(columns=['level_of_education_clients','bank_branch_clients','birthdate'],axis=1,inplace=True)

In [20]:
Tdemographics.isnull().sum()

customerid                     0
bank_account_type              0
longitude_gps                  0
latitude_gps                   0
bank_name_clients              0
employment_status_clients    865
Age                            0
dtype: int64

In [21]:
Tprevious.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,closeddate,referredby,firstduedate,firstrepaiddate
0,8a2a81a74ce8c05d014cfb32a0da1049,301682320,2,2016-08-15 18:22:40.000000,2016-08-15 17:22:32.000000,10000.0,13000.0,30,2016-09-01 16:06:48.000000,NaN,2016-09-14 00:00:00.000000,2016-09-01 15:51:43.000000
1,8a2a81a74ce8c05d014cfb32a0da1049,301883808,9,2017-04-28 18:39:07.000000,2017-04-28 17:38:53.000000,10000.0,13000.0,30,2017-05-28 14:44:49.000000,NaN,2017-05-30 00:00:00.000000,2017-05-26 00:00:00.000000
2,8a2a81a74ce8c05d014cfb32a0da1049,301831714,8,2017-03-05 10:56:25.000000,2017-03-05 09:56:19.000000,20000.0,23800.0,30,2017-04-26 22:18:56.000000,NaN,2017-04-04 00:00:00.000000,2017-04-26 22:03:47.000000
3,8a8588f35438fe12015444567666018e,301861541,5,2017-04-09 18:25:55.000000,2017-04-09 17:25:42.000000,10000.0,11500.0,15,2017-04-24 01:35:52.000000,NaN,2017-04-24 00:00:00.000000,2017-04-24 00:48:43.000000
4,8a85890754145ace015429211b513e16,301941754,2,2017-06-17 09:29:57.000000,2017-06-17 08:29:50.000000,10000.0,11500.0,15,2017-07-14 21:18:43.000000,NaN,2017-07-03 00:00:00.000000,2017-07-14 21:08:35.000000

In [22]:
Tprevious['profit']=Tprevious['totaldue']-Tprevious['loanamount']

In [23]:
date_col=['approveddate','closeddate']
for i in date_col:
    Tprevious[i]=Tprevious[i].astype('datetime64[ns]')

In [24]:
Tprevious['return_days']=Tprevious.closeddate-Tprevious.approveddate
Tprevious['return_days']=Tprevious['return_days'].apply(lambda x:int(str(x)[:2]))
Tprevious['days_left']=Tprevious.termdays-Tprevious.return_days

In [25]:
Tprevious.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,closeddate,referredby,firstduedate,firstrepaiddate,profit,return_days,days_left
0,8a2a81a74ce8c05d014cfb32a0da1049,301682320,2,2016-08-15 18:22:40,2016-08-15 17:22:32.000000,10000.0,13000.0,30,2016-09-01 16:06:48,NaN,2016-09-14 00:00:00.000000,2016-09-01 15:51:43.000000,3000.0,16,14
1,8a2a81a74ce8c05d014cfb32a0da1049,301883808,9,2017-04-28 18:39:07,2017-04-28 17:38:53.000000,10000.0,13000.0,30,2017-05-28 14:44:49,NaN,2017-05-30 00:00:00.000000,2017-05-26 00:00:00.000000,3000.0,29,1
2,8a2a81a74ce8c05d014cfb32a0da1049,301831714,8,2017-03-05 10:56:25,2017-03-05 09:56:19.000000,20000.0,23800.0,30,2017-04-26 22:18:56,NaN,2017-04-04 00:00:00.000000,2017-04-26 22:03:47.000000,3800.0,52,-22
3,8a8588f35438fe12015444567666018e,301861541,5,2017-04-09 18:25:55,2017-04-09 17:25:42.000000,10000.0,11500.0,15,2017-04-24 01:35:52,NaN,2017-04-24 00:00:00.000000,2017-04-24 00:48:43.000000,1500.0,14,1
4,8a85890754145ace015429211b513e16,301941754,2,2017-06-17 09:29:57,2017-06-17 08:29:50.000000,10000.0,11500.0,15,2017-07-14 21:18:43,NaN,2017-07-03 00:00:00.000000,2017-07-14 21:08:35.000000,1500.0,27,-12

import numpy as np
Features=Tprevious.pivot_table(values=['loanamount','profit','days_left','termdays'],index='customerid',aggfunc={'loanamount':np.mean,'profit':[sum,np.mean],'days_left':[np.mean,lambda x:(x>=0).sum()],'termdays':np.mean})

Features.head(5)

In [26]:
import numpy as np
Totalprofit=Tprevious.pivot_table(values='profit',index='customerid',aggfunc=sum)
Totalprofit.rename(columns={'profit':'Totalprofit'},inplace=True)
Avgprofit=Tprevious.pivot_table(values='profit',index='customerid',aggfunc=np.mean)
Avgprofit.rename(columns={'profit':'Avgprofit'},inplace=True)
Avgloanamount=Tprevious.pivot_table(values='loanamount',index='customerid',aggfunc=np.mean)
Avgloanamount.rename(columns={'loanamount':'Avgloanamount'},inplace=True)
Avgtermdays=Tprevious.pivot_table(values='termdays',index='customerid',aggfunc=np.mean)
Avgtermdays.rename(columns={'termdays':'Avgtermdays'},inplace=True)
earlypayment=Tprevious.pivot_table(values='days_left',index='customerid',aggfunc=lambda x:(x>=0).sum())
earlypayment.rename(columns={'days_left':'earlypayment'},inplace=True)
Avgdaysleft=Tprevious.pivot_table(values='days_left',index='customerid',aggfunc=np.mean)
Avgdaysleft.rename(columns={'days_left':'Avgdaysleft'},inplace=True)

In [27]:
data=[Totalprofit,Avgprofit,Avgloanamount,Avgtermdays,Avgdaysleft,earlypayment]
#data=[d.set_index('customerid') for d in data]
data=data[0].join(data[1:])

In [28]:
data.head()

,Totalprofit,Avgprofit,Avgloanamount,Avgtermdays,Avgdaysleft,earlypayment
customerid,,,,,,
8a1088a0484472eb01484669e3ce4e0b,1500.0,1500.000000,10000.000000,15.000000,-7.00,0
8a1a1e7e4f707f8b014f797718316cad,19500.0,4875.000000,17500.000000,37.500000,6.25,3
8a1a32fc49b632520149c3b8fdf85139,16500.0,2357.142857,12857.142857,19.285714,1.00,6
8a1eb5ba49a682300149c3c068b806c7,32400.0,4050.000000,16250.000000,33.750000,5.25,8
8a1edbf14734127f0147356fdb1b1eb2,4500.0,2250.000000,10000.000000,22.500000,4.50,2

In [29]:
Tperfomance.head()

,approveddate,creationdate,customerid,good_bad_flag,loanamount,loannumber,referredby,systemloanid,termdays,totaldue
0,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,8a2a81a74ce8c05d014cfb32a0da1049,Good,30000.0,12,NaN,301994762,30,34500.0
1,2017-07-05 17:04:41.000000,2017-07-05 16:04:18.000000,8a85886e54beabf90154c0a29ae757c0,Good,15000.0,2,NaN,301965204,30,17250.0
2,2017-07-06 14:52:57.000000,2017-07-06 13:52:51.000000,8a8588f35438fe12015444567666018e,Good,20000.0,7,NaN,301966580,15,22250.0
3,2017-07-27 19:00:41.000000,2017-07-27 18:00:35.000000,8a85890754145ace015429211b513e16,Good,10000.0,3,NaN,301999343,15,11500.0
4,2017-07-03 23:42:45.000000,2017-07-03 22:42:39.000000,8a858970548359cc0154883481981866,Good,40000.0,9,NaN,301962360,30,44000.0

In [30]:
Tperfomance['new_profit']=Tperfomance['totaldue']-Tperfomance['loanamount']

In [31]:
Tperfomance.drop(columns=['systemloanid','referredby','creationdate','approveddate','totaldue'],inplace=True)

In [32]:
data=pd.merge(data.reset_index(),Tperfomance,how='outer',on='customerid')

In [33]:
data.head()

,customerid,Totalprofit,Avgprofit,Avgloanamount,Avgtermdays,Avgdaysleft,earlypayment,good_bad_flag,loanamount,loannumber,termdays,new_profit
0,8a1088a0484472eb01484669e3ce4e0b,1500.0,1500.000000,10000.000000,15.000000,-7.00,0.0,Bad,10000.0,2,15,1500.0
1,8a1a1e7e4f707f8b014f797718316cad,19500.0,4875.000000,17500.000000,37.500000,6.25,3.0,Good,30000.0,5,60,9000.0
2,8a1a32fc49b632520149c3b8fdf85139,16500.0,2357.142857,12857.142857,19.285714,1.00,6.0,Good,20000.0,8,30,4500.0
3,8a1eb5ba49a682300149c3c068b806c7,32400.0,4050.000000,16250.000000,33.750000,5.25,8.0,Good,30000.0,9,60,9000.0
4,8a1edbf14734127f0147356fdb1b1eb2,4500.0,2250.000000,10000.000000,22.500000,4.50,2.0,Good,10000.0,3,15,1500.0

In [34]:
data.isnull().sum()

customerid          0
Totalprofit        17
Avgprofit          17
Avgloanamount      17
Avgtermdays        17
Avgdaysleft        17
earlypayment       17
good_bad_flag    1450
loanamount          0
loannumber          0
termdays            0
new_profit          0
dtype: int64

In [35]:
data.fillna(0,inplace=True)

In [36]:
goodbad={'Good':1,'Bad':0}
data.good_bad_flag=data.good_bad_flag.map(goodbad)

In [37]:
data['loanamountdeviation']=data.Avgloanamount-data.loanamount
data['profitdeviation']=data.Avgprofit-data.new_profit
data['termdaysdeviation']=data.Avgtermdays-data.termdays

In [38]:
data=data[['customerid','loanamountdeviation','profitdeviation','termdaysdeviation','Avgdaysleft','loannumber','Totalprofit','good_bad_flag']]

In [39]:
data=pd.merge(data,Tdemographics,on='customerid',how='inner')

In [40]:
data.head()

,customerid,loanamountdeviation,profitdeviation,termdaysdeviation,Avgdaysleft,loannumber,Totalprofit,good_bad_flag,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,employment_status_clients,Age
0,8a1088a0484472eb01484669e3ce4e0b,0.000000,0.000000,0.000000,-7.00,2,1500.0,0.0,Savings,3.351667,6.657019,GT Bank,Permanent,YoungAge
1,8a1a1e7e4f707f8b014f797718316cad,-12500.000000,-4125.000000,-22.500000,6.25,5,19500.0,1.0,Other,3.395230,6.592191,Standard Chartered,Permanent,MiddleAge
2,8a1a32fc49b632520149c3b8fdf85139,-7142.857143,-2142.857143,-10.714286,1.00,8,16500.0,1.0,Savings,3.306388,6.651843,GT Bank,Permanent,MiddleAge
3,8a1eb5ba49a682300149c3c068b806c7,-13750.000000,-4950.000000,-26.250000,5.25,9,32400.0,1.0,Savings,3.426698,6.423048,First Bank,Permanent,MiddleAge
4,8a1edbf14734127f0147356fdb1b1eb2,0.000000,750.000000,7.500000,4.50,3,4500.0,1.0,Savings,6.976132,4.801001,GT Bank,Permanent,MiddleAge

In [41]:
data.isnull().sum()

customerid                      0
loanamountdeviation             0
profitdeviation                 0
termdaysdeviation               0
Avgdaysleft                     0
loannumber                      0
Totalprofit                     0
good_bad_flag                1450
bank_account_type               0
longitude_gps                   0
latitude_gps                    0
bank_name_clients               0
employment_status_clients     865
Age                             0
dtype: int64

In [42]:
data.employment_status_clients.fillna('Unknown',inplace=True)

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5818 entries, 0 to 5817
Data columns (total 14 columns):
customerid                   5818 non-null object
loanamountdeviation          5818 non-null float64
profitdeviation              5818 non-null float64
termdaysdeviation            5818 non-null float64
Avgdaysleft                  5818 non-null float64
loannumber                   5818 non-null int64
Totalprofit                  5818 non-null float64
good_bad_flag                4368 non-null float64
bank_account_type            5818 non-null object
longitude_gps                5818 non-null float64
latitude_gps                 5818 non-null float64
bank_name_clients            5818 non-null object
employment_status_clients    5818 non-null object
Age                          5818 non-null category
dtypes: category(1), float64(8), int64(1), object(4)
memory usage: 642.2+ KB

In [44]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in data.select_dtypes(include=['object','category']).columns:
    data[i]=le.fit_transform(data[i])

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5818 entries, 0 to 5817
Data columns (total 14 columns):
customerid                   5818 non-null int64
loanamountdeviation          5818 non-null float64
profitdeviation              5818 non-null float64
termdaysdeviation            5818 non-null float64
Avgdaysleft                  5818 non-null float64
loannumber                   5818 non-null int64
Totalprofit                  5818 non-null float64
good_bad_flag                4368 non-null float64
bank_account_type            5818 non-null int64
longitude_gps                5818 non-null float64
latitude_gps                 5818 non-null float64
bank_name_clients            5818 non-null int64
employment_status_clients    5818 non-null int64
Age                          5818 non-null int64
dtypes: float64(8), int64(6)
memory usage: 681.8 KB

In [46]:
cols=[x for x in data.columns if x not in ['longitude_gps','latitude_gps']]
data=data[cols]

In [47]:
Train=data[data.good_bad_flag.notnull()]
Test=data[data.good_bad_flag.isnull()]