In [1]:
import pandas as pd
import numpy as np
import re

from selenium import webdriver
from selenium.webdriver.firefox.firefox_profile import FirefoxProfile
from selenium.webdriver.firefox.firefox_binary import FirefoxBinary

from selenium.webdriver.common.keys import Keys
from urllib.parse import urlparse
from bs4 import BeautifulSoup
import os, random, time, sys, requests, webbrowser
import chardet

In [2]:
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc


my_encoding = find_encoding('eric.csv')
# df = pd.read_csv('myfile.csv', encoding=my_encoding)

data = pd.read_csv('eric.csv', encoding=my_encoding)
print(data.shape)
data.dtypes

(389, 10)

Full Name         object
First Name        object
Last Name         object
Email Address     object
Job Title         object
Organisation      object
Careerl Level     object
Work Country      object
City             float64
Region            object
dtype: object

In [3]:
for i in data.columns:
    data[i] =data[i].apply(str)
data.dtypes

Full Name        object
First Name       object
Last Name        object
Email Address    object
Job Title        object
Organisation     object
Careerl Level    object
Work Country     object
City             object
Region           object
dtype: object

In [4]:
def linkedin(test):
    
#     binary = FirefoxBinary(r"C:\Users\user\Desktop\Tor Browser\Browser\firefox.exe")
#     profile = FirefoxProfile(r"C:\Users\user\Desktop\Tor Browser\Browser\TorBrowser\Data\Browser\profile.default")
#     # profile.setPreference("browser.privatebrowsing.autostart",true);
#     # profile.setPreference("browser.cache.disk.enable", false);
#     # profile.setPreference("browser.cache.memory.enable", false);
#     # profile.setPreference("browser.cache.offline.enable", false);
#     # profile.setPreference("network.http.use-cache", false);
#     profile.set_preference('network.proxy.type', 1)
#     profile.set_preference('network.proxy.socks', '127.0.0.1')
#     profile.set_preference('network.proxy.socks_port', 9050)
#     profile.set_preference("network.proxy.socks_remote_dns", False)
#     profile.update_preferences()
    
    test_cp = test.copy()
    print(test_cp.head())
    # Instatiating Chrome
#     driver = webdriver.Firefox(profile, binary)
    driver = webdriver.Chrome('./chromedriver')
    # When Chrome opens maximize
    # driver.maximize_window()

    link_filter = ('hl=', 'q=', 'u=', '/pub/')

    # Open google
    driver.get('https://www.google.com')
    # Loop through
    for i in range(0, test_cp.shape[0]):
        # focus on search box
        search = driver.find_element_by_name("q")
        search.clear()
#         search.send_keys(Keys.CONTROL+Keys.SHIFT+'N')
        # search name and organization
        if test_cp.iat[i,5] == 'nan':
            search.send_keys('"{}"'.format(test_cp.iat[i,0]) + ' ' + test_cp.iat[i,3])
        else:
            search.send_keys('"{}"'.format(test_cp.iat[i,0]) + ' ' + test_cp.iat[i,5])
        # search
        search.submit()
        # match results with linkedin
        matched_elements = driver.find_elements_by_xpath('//a[contains(@href, "linkedin")]')
        # loop through all the matched elements
        for link in matched_elements:
            # make sure attribute is less the 100 characters
            if len(link.get_attribute('href')) < 85 and '/pub/' not in link.get_attribute('href'):
                
                # print(link.get_attribute('href'))
                test_cp.loc[(test['Full Name'] == test_cp.iat[i, 2]), 'Linkedin'] = link.get_attribute('href')
                
        time.sleep(8)

    return test_cp

In [5]:
# dat_35 = linkedin(data.iloc[0:35])
# dat_35.info()

In [6]:
# dat_70 = linkedin(data.iloc[35:70])
# dat_70.info()

In [7]:
# dat_105 = linkedin(data.iloc[70:105])
# dat_105.info()

In [8]:
# dat_140 = linkedin(data.iloc[105:140])
# dat_140.info()

In [9]:
# dat_175 = linkedin(data.iloc[140:175])
# dat_175.info()

In [11]:
dat_210 = linkedin(data.iloc[175:210])
dat_210.info()

          Full Name First Name Last Name                   Email Address  \
175          Jason       Jason       nan          jasonk@kmgauteng.co.za
176          Jason       Jason       nan           jasonw@flyairlink.com
177          Jason       Jason       nan                jason@nano.co.za
178  Jason Braganza      Jason  Braganza  jbraganza@taxjusticeafrica.net
179    Jason Ikegwu      Jason    Ikegwu   jasoni@phillipsconsulting.net

    Job Title                Organisation Careerl Level Work Country City  \
175       nan                         nan           nan          nan  nan
176       nan                         nan           nan          nan  nan
177       nan                         nan           nan          nan  nan
178       nan  Tax Justice Network Africa           nan          nan  nan
179       nan                         nan           nan          nan  nan

    Region
175    nan
176    nan
177    nan
178    nan
179    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 175 to 209
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [12]:
data_lst = [dat_210]#dat_35, dat_70,dat_105, dat_140, dat_175,
data_naf = pd.concat(data_lst)

In [13]:
data_naf.shape

(35, 11)

In [14]:
data_naf[data_naf.duplicated()]

Empty DataFrame
Columns: [Full Name, First Name, Last Name, Email Address, Job Title, Organisation, Careerl Level, Work Country, City, Region, Linkedin]
Index: []

In [15]:
data_naf.to_csv('eric_linkedin.csv')

In [16]:
key = 'AIzaSyD9gUTldXJ6uyO5W1xvcZIDOWxUqALbxA0'
engine_id = '009104355705785336217:fbibydpv9z0'

In [18]:
data_naf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 175 to 209
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [19]:
dat_135 = linkedin(data.iloc[100:135])
dat_135.info()

           Full Name First Name Last Name               Email Address  \
100  Jacqui Sebageni     Jacqui  Sebageni     jacquisebageni@yahoo.ca
101  Jacquline Smith  Jacquline     Smith  jacqueline.v.smith@asu.edu
102      Jady Samuel       Jady    Samuel     jady.samuel@dalberg.com
103     Jairaj Sonoo     Jairaj     Sonoo    jairaj.sonoo@sbmgroup.mu
104      Jake Cusack       Jake    Cusack      jake@crossboundary.com

                     Job Title Organisation Careerl Level Work Country City  \
100              Founder/Owner          nan           nan          nan  nan
101                        nan          nan           nan          nan  nan
102                        nan          nan           nan          nan  nan
103  Chief Executive - Banking          nan           nan    Mauritius  nan
104                        nan          nan           nan          nan  nan

    Region
100    nan
101    nan
102    nan
103    nan
104    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 100 to 134
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [20]:
dat_170 = linkedin(data.iloc[135:170])
dat_170.info()

                 Full Name First Name        Last Name  \
135  James Scott-mackenzie      James  Scott-mackenzie
136           James Steere      James           Steere
137           James Teeger      James           Teeger
138             James Wale      James             Wale
139         James Wandongu      James         Wandongu

                     Email Address Job Title Organisation Careerl Level  \
135  jamesscottmackenzie@gmail.com       nan          nan           nan
136         james.steere@oba.co.uk       nan          nan           nan
137       james.teeger@eoson.co.za       nan          nan           nan
138        jameswale@isprimefx.com       nan          nan           nan
139           james_23ke@yahoo.com       nan          nan           nan

    Work Country City Region
135          nan  nan    nan
136          nan  nan    nan
137          nan  nan    nan
138          nan  nan    nan
139          nan  nan    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 135 to 169
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [21]:
dat_205 = linkedin(data.iloc[170:205])
dat_205.info()

             Full Name First Name Last Name                     Email Address  \
170      Japheth Maijo    Japheth     Maijo           japheth.maijo@yahoo.com
171  Jaqueline Sauzier  Jaqueline   Sauzier  jacqueline.sauzier@mca.intnet.mu
172        Jaques Tano     Jaques      Tano         tanokouassi2003@gmail.com
173        Jared Vaile      Jared     Vaile              jaredvaile@yahoo.com
174          Jashi Hdu      Jashi       Hdu             jashihdu@nation.co.ke

             Job Title Organisation Careerl Level   Work Country City Region
170                nan          nan           nan            nan  nan    nan
171  General Secretary          nan           nan      Mauritius  nan    nan
172                nan          nan     AL Family  C“te d?Ivoire  nan    nan
173                nan          nan           nan            nan  nan    nan
174                nan          nan           nan            nan  nan    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 170 to 204
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [22]:
dat_lst2 = [dat_135, dat_170, dat_205]
dat_200 = pd.concat(dat_lst2)
dat_200.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 100 to 204
Data columns (total 11 columns):
Full Name        105 non-null object
First Name       105 non-null object
Last Name        105 non-null object
Email Address    105 non-null object
Job Title        105 non-null object
Organisation     105 non-null object
Careerl Level    105 non-null object
Work Country     105 non-null object
City             105 non-null object
Region           105 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 9.1+ KB

In [23]:
dat_240 = linkedin(data.iloc[205:240])
dat_240.info()

                          Full Name  First Name            Last Name  \
205                  Jean Luc Cyusa    Jean Luc                Cyusa
206         Jean Luck Ngabo Indatwa   Jean Luck        Ngabo Indatwa
207  Jean Marie Vianney Nsengiyumva  Jean Marie  Vianney Nsengiyumva
208     Jean Marie Vianney Nzaramba  Jean Marie     Vianney Nzaramba
209                     Jean Martin        Jean               Martin

                  Email Address  \
205   jeanluc.cyamericas@bpr.rw
206  5ndaboindatwa123@gmail.com
207         njemavkay@gmail.com
208          banellya@yahoo.com
209    jean_martint@hotmail.com

                                             Job Title Organisation  \
205  A.g Country Head Of Corporate & Investment Ban...          nan
206                                                nan          nan
207                                                nan          nan
208                                                nan          nan
209                                                nan          nan

    Careerl Level Work Country City  Region
205           nan       Rwanda  nan  Africa
206     AL Family       Rwanda  nan     nan
207     AL Family       Rwanda  nan     nan
208     AL Family       Rwanda  nan     nan
209           nan          nan  nan     nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 205 to 239
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [24]:
dat_240[pd.notnull(dat_240['Linkedin'])]

Empty DataFrame
Columns: [Full Name, First Name, Last Name, Email Address, Job Title, Organisation, Careerl Level, Work Country, City, Region, Linkedin]
Index: []

In [25]:
dat_275 = linkedin(data.iloc[240:275])
dat_275.info()

                 Full Name     First Name Last Name  \
240      Jeannine Kambanda       Jeannine  Kambanda
241       Jean-Paul Tankeu      Jean-Paul    Tankeu
242  Jean-Philippe Prosper  Jean-Philippe   Prosper
243      Jean-Yves Mutanda      Jean-Yves   Mutanda
244  Jeckings Fusi Kamanga  Jeckings Fusi   Kamanga

                 Email Address Job Title Organisation Careerl Level  \
240  jkambanda@minaffet.gov.rw       nan          nan           nan
241      jptankeu2001@yahoo.fr       nan          nan           nan
242         pepepros@yahoo.com       nan          nan           nan
243  jeanyvesmutanda@gmail.com       nan          nan           nan
244  nelsonkamanga98@gmail.com       nan          nan     AL Family

    Work Country City Region
240          nan  nan    nan
241          nan  nan    nan
242          nan  nan    nan
243          nan  nan    nan
244       Malawi  nan    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 240 to 274
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [26]:
dat_320 = linkedin(data.iloc[275:310])
dat_320.info()

                   Full Name         First Name  Last Name  \
275       Jeremiah Chikhwaza           Jeremiah  Chikhwaza
276           Jeremiah Nnadi           Jeremiah      Nnadi
277  Jeremiah Nnagozie Nnadi  Jeremiah Nnagozie      Nnadi
278                  Jeremy              Jeremy        nan
279              Jeremy Ngze             Jeremy       Ngze

                Email Address Job Title Organisation Careerl Level  \
275  jerrychikhwaza@gmail.com       nan          nan     AL Family
276  jeremiahnnadi@icloud.com       nan          nan     AL Family
277   jnnadi17@alustudent.com       nan          nan     AL Family
278    jeremy@peaceoneday.org       nan          nan           nan
279  jeremy.ngze@cbagroup.com       nan          nan           nan

    Work Country City Region
275       Rwanda  nan    nan
276        Niger  nan    nan
277          nan  nan    nan
278          nan  nan    nan
279          nan  nan    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 275 to 309
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [27]:
dt_ls3 = [dat_240, dat_275, dat_320]
dat_300 = pd.concat(dt_ls3)
dat_300.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 205 to 309
Data columns (total 11 columns):
Full Name        105 non-null object
First Name       105 non-null object
Last Name        105 non-null object
Email Address    105 non-null object
Job Title        105 non-null object
Organisation     105 non-null object
Careerl Level    105 non-null object
Work Country     105 non-null object
City             105 non-null object
Region           105 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 9.1+ KB

In [28]:
dat_345 = linkedin(data.iloc[310:345])
dat_345.info()

       Full Name First Name Last Name           Email Address Job Title  \
310         Jim         Jim       nan  jim@wrattenrvsales.com       nan
311    Jim Awori        Jim     Awori   jimmykelvin@yahoo.com       nan
312  Jim Fleming        Jim   Fleming  jim.fleming@colcap.com       nan
313    Jim Leech        Jim     Leech         jim@jimleech.ca       nan
314  Jimmy Jimmy      Jimmy     Jimmy      jiwafula@gmail.com       nan

    Organisation Careerl Level Work Country City Region
310          nan           nan          nan  nan    nan
311          nan     AL Family       Rwanda  nan    nan
312          nan           nan          nan  nan    nan
313          nan           nan          nan  nan    nan
314          nan           nan          nan  nan    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 310 to 344
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [29]:
dat_380 = linkedin(data.iloc[345:380])
dat_380.info()

        Full Name First Name Last Name                      Email Address  \
345     Joe Nsano        Joe     Nsano                 joensano@gmail.com
346     Joe Stone        Joe     Stone        joe.stone@tcsolutions.co.za
347  Joe Wanyoike        Joe  Wanyoike  jwanyoike@clintonhealthaccess.org
348    Joe Yeboah        Joe    Yeboah  joseph.yeboah@jpplanninggroup.com
349         Joel        Joel       nan                 joel@rezultz4u.com

    Job Title Organisation Careerl Level Work Country City Region
345       nan          nan           nan          nan  nan    nan
346       nan          nan           nan          nan  nan    nan
347       nan          nan           nan          nan  nan    nan
348       nan          nan           nan          nan  nan    nan
349       nan          nan           nan          nan  nan    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 345 to 379
Data columns (total 11 columns):
Full Name        35 non-null object
First Name       35 non-null object
Last Name        35 non-null object
Email Address    35 non-null object
Job Title        35 non-null object
Organisation     35 non-null object
Careerl Level    35 non-null object
Work Country     35 non-null object
City             35 non-null object
Region           35 non-null object
Linkedin         0 non-null object
dtypes: object(11)
memory usage: 3.1+ KB

In [30]:
dat_390 = linkedin(data.iloc[380:390])
# dat_415 = linkedin(data.iloc[380:415])
# dat_415.info()
dat_390.info()

              Full Name    First Name Last Name          Email Address  \
380        John Gicheha          John   Gicheha  gichehajohn@gmail.com
381  John Gichuhi Gitau  John Gichuhi     Gitau      jgitau1@gmail.com
382          John Gitau          John     Gitau    john.gitau@duke.edu
383           John Glen          John      Glen  john.h.glen@gmail.com
384       John Grudzina          John  Grudzina     jgrudzina@grey.com

    Job Title Organisation Careerl Level Work Country City Region
380       nan          nan     AL Family        Kenya  nan    nan
381       nan          nan           nan          nan  nan    nan
382       nan          nan           nan          nan  nan    nan
383       nan          nan           nan          nan  nan    nan
384       nan          nan           nan          nan  nan    nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 380 to 388
Data columns (total 10 columns):
Full Name        9 non-null object
First Name       9 non-null object
Last Name        9 non-null object
Email Address    9 non-null object
Job Title        9 non-null object
Organisation     9 non-null object
Careerl Level    9 non-null object
Work Country     9 non-null object
City             9 non-null object
Region           9 non-null object
dtypes: object(10)
memory usage: 804.0+ bytes

In [31]:
dt_lst4 = [dat_345, dat_380, dat_390]
dat_400 = pd.concat(dt_lst4)
dat_400.info()

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 310 to 388
Data columns (total 11 columns):
Careerl Level    79 non-null object
City             79 non-null object
Email Address    79 non-null object
First Name       79 non-null object
Full Name        79 non-null object
Job Title        79 non-null object
Last Name        79 non-null object
Linkedin         0 non-null object
Organisation     79 non-null object
Region           79 non-null object
Work Country     79 non-null object
dtypes: object(11)
memory usage: 6.9+ KB

In [32]:
# dat_450 = linkedin(data.iloc[415:450])
# dat_450.info()

In [33]:
# dat_485 = linkedin(data.iloc[450:485])
# dat_485.info()

In [34]:
# len(dat_485)

In [35]:
# dat_520 = linkedin(data.iloc[485:520])
# dat_485.info()

In [36]:
# dat_520.info()

In [37]:
# dt_lst5 = [dat_450, dat_485, dat_520]
# dat_500 = pd.concat(dt_lst5)
# dat_500.info()

In [38]:
# dat_555 = linkedin(data.iloc[520:555])
# dat_555.info()

In [39]:
# dat_580 = linkedin(data.iloc[555:-1])
# dat_580.info()

In [40]:
# dt_lst_fin = [dat_555, dat_580]
# df_fin = pd.concat(dt_lst_fin)
# df_fin.info()

In [43]:
fin_lst = [dat_200, dat_300, dat_400]#, dat_500, df_fin,data_100]

In [44]:
fin_df = pd.concat(fin_lst)
fin_df.info()

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 100 to 388
Data columns (total 11 columns):
Careerl Level    289 non-null object
City             289 non-null object
Email Address    289 non-null object
First Name       289 non-null object
Full Name        289 non-null object
Job Title        289 non-null object
Last Name        289 non-null object
Linkedin         0 non-null object
Organisation     289 non-null object
Region           289 non-null object
Work Country     289 non-null object
dtypes: object(11)
memory usage: 24.9+ KB

In [45]:
for i in fin_lst:
    print(i.shape)

(105, 11)
(105, 11)
(79, 11)

In [46]:
fin_df.to_csv('Linkedin.csv')

In [47]:
upd_dat = fin_df.copy()

upd_dat.nunique()

Careerl Level      4
City               1
Email Address    289
First Name       137
Full Name        272
Job Title         30
Last Name        243
Linkedin           0
Organisation      12
Region             3
Work Country      16
dtype: int64

In [48]:
test = upd_dat.loc[: ,upd_dat.columns != 'Linkedin'] 
test.shape

(289, 10)

In [49]:
org_dat = data.copy()

In [50]:
missing = pd.concat([org_dat, test]).drop_duplicates(keep=False)
missing

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Careerl Level,City,Email Address,First Name,Full Name,Job Title,Last Name,Organisation,Region,Work Country
0,nan,nan,koharia93@gmail.com,Hamed,Hamed Kone,nan,Kone,nan,nan,nan
1,AL Family,nan,harivolamonique@gmail.com,Harivola Monique,Harivola Monique Rakotonirina,nan,Rakotonirina,nan,nan,Rwanda
2,AL Family,nan,hzongo08@gmail.com,Harouna,Harouna Zongo,nan,Zongo,nan,nan,nan
3,nan,nan,kaudreyharriet@yahoo.com,Harriet,Harriet Kaudrey,nan,Kaudrey,nan,nan,nan
4,AL Family,nan,harun.muturi@yahoo.com,Harun,Harun Muturi,nan,Muturi,nan,nan,nan
5,nan,nan,www.bukarhassan@rocketmail.com,Hassan,Hassan Bukar,nan,Bukar,nan,nan,nan
6,AL Family,nan,hassanfdumbuya@gmail.com,Hassan,Hassan Dumbuya,nan,Dumbuya,nan,nan,nan
7,nan,nan,hassan.eljai@gmail.com,Hassan,Hassan El Ja??,Actor - Author - Coach - Director,El Ja??,nan,nan,nan
8,nan,nan,hawamkwela@yahoo.com,Hawa,Hawa Mkwela,Chairperson & Founder,Mkwela,nan,nan,nan
9,nan,nan,hchinake17@alusb.com,Hazel,Hazel Chinake,nan,Chinake,nan,nan,nan
10,nan,nan,heatherm@intnet.mu,Heather,Heather Muller,nan,Muller,nan,Africa,nan
11,AL Family,nan,bhegrah@gmail.com,Hegrah,Hegrah Bahati,nan,Bahati,nan,nan,Kenya
12,AL Family,nan,hellenwanyama@gmail.com,Hellen,Hellen Wanyama,nan,Wanyama,nan,nan,Rwanda
13,AL Family,nan,hellenatieng1963@gmail.com,Hellen,Hellen Wanyama,nan,Wanyama,nan,nan,Rwanda
14,nan,nan,noubime@googlemail.com,Henriette,Henriette Noubime,nan,Noubime,nan,nan,nan
15,nan,nan,henrik@dalberg.com,Henrik,Henrik Bentsen,nan,Bentsen,nan,nan,nan
16,AL Family,nan,hkarugu@gmail.com,Henry,Henry Karugu,nan,Karugu,nan,nan,nan
17,AL Family,nan,henrymugabo5@gmail.com,Henry,Henry Mugabo,nan,Mugabo,nan,nan,Rwanda
18,AL Family,nan,henry.ndede@gmail.com,Henry,Henry Ndede,nan,Ndede,nan,nan,Kenya
19,AL Family,nan,henrysuahkollie@gmail.com,Henry,Henry Suahkollie,nan,Suahkollie,nan,nan,Liberia
20,AL Family,nan,kwesigraham@yahoo.com,Herbert,Herbert Graham,nan,Graham,nan,nan,Ghana
21,AL Family,nan,handrianarison@ifc.org,Heriniaina Laurette Irene,Heriniaina Laurette Irene Andrianarison,nan,Andrianarison,nan,nan,Madagascar
22,AL Family,nan,hrfumo@gmail.com,Hermenegildo Antonio,Hermenegildo Antonio Fumo,nan,Fumo,nan,nan,nan
23,nan,nan,trust.mada@gmail.com,Heryy Zo Narindra,Heryy Zo Narindra Andriamiarana,General Manager,Andriamiarana,nan,nan,nan
24,nan,nan,halaoui531@gmail.com,Hicham,Hicham Alaoui,nan,Alaoui,nan,nan,nan
25,ALN,nan,elhabti@ocpgroup.ma,Hicham,Hicham El Habti,nan,El Habti,nan,nan,nan
26,AL Family,nan,bararuhahilaire45@gmail.com,Hilaire,Hilaire Bararuha,nan,Bararuha,nan,nan,Rwanda
27,nan,nan,hildegardmziray@gmail.com,Hildegard,Hildegard Mziray,nan,Mziray,nan,nan,nan
28,nan,nan,thileni@gmail.com,Hileni,Hileni,nan,nan,nan,nan,nan
29,AL Family,nan,haboonhussein43@gmail.com,Hinda,Hinda Cabdale,nan,Cabdale,nan,nan,Somalia
...,...,...,...,...,...,...,...,...,...,...
70,nan,nan,jack@tibro.ca,Jack,Jack Echols,nan,Echols,nan,nan,nan
71,nan,nan,jackkibaka@yahoo.co.uk,Jack,Jack Kibaka,nan,Kibaka,nan,nan,nan
72,nan,nan,jackochieng86@yahoo.com,Jack,Jack Ochieng,nan,Ochieng,nan,nan,nan
73,nan,nan,jack.sellschop@pwc.com,Jack,Jack Sellschop,nan,Sellschop,nan,nan,nan
74,nan,nan,jackie@seri-sa.org,Jackie,Jackie,nan,nan,nan,nan,nan
75,nan,nan,jackie@miany.com,Jackie,Jackie Bezos,Vice President and Co-Founder,Bezos,nan,nan,United States
76,nan,nan,jackie.gakunga@gmail.com,Jackie,Jackie Gakunga,nan,Gakunga,nan,nan,nan
77,nan,nan,jjena@irex.org,Jackie,Jackie Jena,nan,Jena,nan,nan,nan
78,nan,nan,jackieli@thebeijingaxis.com,Jackie,Jackie Li,nan,Li,nan,nan,nan
79,AL Family,nan,ngjackie00@gmail.com,Jackie,Jackie Ngendahayo,nan,Ngendahayo,nan,nan,Rwanda
80,nan,nan,jacquelinefrazier@gmail.com,Jackie,Jackie Oboth,nan,Oboth,nan,nan,nan
81,AL Family,nan,kasingoma@gmail.com,Jackline,Jackline Mutua,nan,Mutua,nan,nan,Kenya
82,nan,nan,mareejh@standardbank.co.za,Jacko,Jacko Maree,nan,Maree,nan,nan,nan
83,AL Family,nan,jacksonsamwel197@gmail.com,Jackson,Jackson Kaaya,nan,Kaaya,nan,nan,nan
84,nan,nan,mulindejacksonsimon@gmail.com,Jackson,Jackson Mulinde,Senior Pastor,Mulinde,nan,nan,nan
85,nan,nan,14409607@sun.ac.za,Jaco,Jaco Du Toit,nan,Du Toit,nan,nan,nan
86,nan,nan,jacobkwize@gmail.com,Jacob,Jacob Kwize,nan,Kwize,nan,nan,nan
87,Staff,nan,jdodoo@alueducation.com,Jacob Nii Offei,Jacob Nii Offei Dodoo,ALUSB Associate Director Of Admissions & Marke...,Dodoo,nan,nan,Rwanda
88,nan,nan,trackerjacob@gmail.com,Jacob,Jacob Tracker,nan,Tracker,nan,nan,nan
89,nan,nan,jzannou@gmail.com,Jacob,Jacob Zannou,nan,Zannou,nan,nan,nan
90,nan,nan,jchimhanzi@gmail.com,Jacqueline,Jacqueline Chimhanzi,nan,Chimhanzi,nan,nan,nan
91,AL Family,nan,jacquelinekiage@yahoo.com,Jacqueline,Jacqueline Kiage,nan,Kiage,nan,nan,nan
92,nan,nan,gyasiwaa2000@yahoo.com,Jacqueline,Jacqueline Mante,nan,Mante,College of Ama,nan,nan
93,nan,nan,jntabari@yahoo.co.uk,Jacqueline,Jacqueline Ntabari,nan,Ntabari,nan,nan,nan
94,AL Family,nan,uwijacklyn@gmail.com,Jacqueline,Jacqueline Uwimpuhwe,nan,Uwimpuhwe,nan,nan,Rwanda
95,nan,nan,jacques.brune@hilton.com,Jacques,Jacques Brune,nan,Brune,nan,nan,nan
96,nan,nan,jacques.harel@bbirger.intnet.mu,Jacques,Jacques Harel,nan,Harel,nan,nan,nan
97,nan,nan,jacques.rautenbach@is.co.za,Jacques,Jacques Rautenbach,nan,Rautenbach,nan,nan,nan
98,nan,nan,jrequin@intercontinentaltrust.com,Jacques,Jacques Requin,nan,Requin,Intercontinental Trust,nan,nan
99,nan,nan,jacquesneethling@lando.co.za,Jacques,Jacques Sneethling,nan,Sneethling,nan,nan,nan

In [51]:
miss = linkedin(missing)

  Careerl Level City              Email Address        First Name  \
0           nan  nan        koharia93@gmail.com             Hamed
1     AL Family  nan  harivolamonique@gmail.com  Harivola Monique
2     AL Family  nan         hzongo08@gmail.com           Harouna
3           nan  nan   kaudreyharriet@yahoo.com           Harriet
4     AL Family  nan     harun.muturi@yahoo.com             Harun

                       Full Name Job Title     Last Name Organisation Region  \
0                     Hamed Kone       nan          Kone          nan    nan
1  Harivola Monique Rakotonirina       nan  Rakotonirina          nan    nan
2                  Harouna Zongo       nan         Zongo          nan    nan
3                Harriet Kaudrey       nan       Kaudrey          nan    nan
4                   Harun Muturi       nan        Muturi          nan    nan

  Work Country
0          nan
1       Rwanda
2          nan
3          nan
4          nan

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=78.0.3904.87)

In [52]:
upd_dat = pd.concat([upd_dat, miss])
upd_dat.shape

NameError: name 'miss' is not defined

In [53]:
upd_dat.to_csv('Linkedin.csv')

In [54]:
upd_dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 100 to 388
Data columns (total 11 columns):
Careerl Level    289 non-null object
City             289 non-null object
Email Address    289 non-null object
First Name       289 non-null object
Full Name        289 non-null object
Job Title        289 non-null object
Last Name        289 non-null object
Linkedin         0 non-null object
Organisation     289 non-null object
Region           289 non-null object
Work Country     289 non-null object
dtypes: object(11)
memory usage: 24.9+ KB

In [55]:
upd_dat1 = pd.concat([fin_df, miss])
upd_dat1.head()

NameError: name 'miss' is not defined

In [56]:
fin_df.shape

(289, 11)

In [57]:
col_ord = fin_df.columns.tolist()

In [58]:
miss

NameError: name 'miss' is not defined

In [60]:
# miss = miss[col_]
upd_dat1.head()

NameError: name 'upd_dat1' is not defined

In [59]:
res = upd_dat1[col_ord]
res.head()

NameError: name 'upd_dat1' is not defined

In [ ]:
res.to_csv('Linkedin.csv')

In [61]:
linked_df = pd.read_csv('Linkedin.csv')
print(linked_df.shape)
linked_df.head()

(289, 12)

,Unnamed: 0,Careerl Level,City,Email Address,First Name,Full Name,Job Title,Last Name,Linkedin,Organisation,Region,Work Country
0,100,NaN,NaN,jacquisebageni@yahoo.ca,Jacqui,Jacqui Sebageni,Founder/Owner,Sebageni,NaN,NaN,NaN,NaN
1,101,NaN,NaN,jacqueline.v.smith@asu.edu,Jacquline,Jacquline Smith,NaN,Smith,NaN,NaN,NaN,NaN
2,102,NaN,NaN,jady.samuel@dalberg.com,Jady,Jady Samuel,NaN,Samuel,NaN,NaN,NaN,NaN
3,103,NaN,NaN,jairaj.sonoo@sbmgroup.mu,Jairaj,Jairaj Sonoo,Chief Executive - Banking,Sonoo,NaN,NaN,NaN,Mauritius
4,104,NaN,NaN,jake@crossboundary.com,Jake,Jake Cusack,NaN,Cusack,NaN,NaN,NaN,NaN

In [ ]:
linked_df.columns

In [ ]:
linked_df.drop('Unnamed: 0', inplace=True ,axis=1)

In [ ]:
linked_df.head()

In [ ]:
linked = linked_df[pd.notnull(linked_df['Linkedin'])]

In [ ]:
577 - linked.shape[0]

In [ ]:
linked.to_csv('Linked.csv')

In [ ]:
corr_links = linked[linked['Linkedin'].str.contains('/in/')==True]
corr_links.shape

In [ ]:
corr_links.head()

In [ ]:
corr_links.to_csv('corr_link.csv')

In [ ]:
linked.shape

In [ ]:
linked.info()

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
profiles = pd.read_csv('./result.csv')
profiles.head()

In [ ]:
profiles.columns.tolist()

In [ ]:
profiles1 = pd.read_csv('./filtered_linked_1.csv')
print(profiles1.shape)
profiles1.head()

In [ ]:
profiles2 = pd.read_csv('./linked_1.csv')
print(profiles2.shape)
profiles2.head()

In [ ]:
profiles1['Linkedin'] = profiles2['linkedinProfile']

In [ ]:
profiles1

In [ ]:
profiles1.drop_duplicates(keep=False, inplace=True)
profiles1.shape

In [ ]:
full_df.shape

In [ ]:
corr_link = pd.read_csv('./corr_links.csv')
print(corr_link.shape)
corr_link.head()

In [ ]:
corr_links.sort_values(by='Full Name', inplace=True)
corr_links.head()

In [ ]:
profiles1.sort_values(by='fullName', inplace=True)

In [ ]:
test = corr_links.copy()

In [ ]:
test.head(100)

In [ ]:
linked_2 = pd.read_csv('./filtered_linked_2.csv')
linked_3 = pd.read_csv('./filtered_linked_3.csv')

In [ ]:
linked_2.head()

In [ ]:
linked_2.info()

In [ ]:
linked_3.info()

In [ ]:
profiles1.info()

In [ ]:
prof = profiles1[['fullName','company','jobTitle','location','Linkedin']]
prof.rename(columns={'Linkedin': 'linkedinProfile'}, inplace=True)
prof.info()

In [ ]:
linked_3.head()

In [ ]:
profiles1.head()

In [ ]:
linked = pd.concat([prof, linked_2, linked_3])
print(linked.shape)
linked.head()

In [ ]:
linked.info()

In [ ]:
linked.rename(columns={'fullName':'Full Name','linkedinProfile': 'Linkedin'}, inplace=True)

In [ ]:
linked[linked['Full Name'].str.contains('Pauline')]

In [ ]:
linked[linked.duplicated()]

In [ ]:
linked.sort_values(by='Linkedin', inplace=True)
linked.head()

In [ ]:
test.info()

In [ ]:
test.sort_values(by='Linkedin', inplace=True)
test.head()

In [ ]:
test[test['Linkedin'].str.contains('https://www.linkedin.com/in/aditi-kimatrai')]

In [ ]:
linked['Linkedin'].head().tolist()

In [ ]:
# test.loc[test['Full Name'].isin(linked['Full Name']), ['Job Title', 'Organisation', 'Work Country']] = linked[['jobTitle', 'company', 'location']].values
# test.info()
# test[['Job Title', 'Organisation', 'Work Country']] = test['Full Name'].map(linked.set_index('Full Name')[['jobTitle', 'company', 'location']])
# # test.info()

In [ ]:
result = test.merge(linked, on='Full Name').copy()

In [ ]:
result.shape

In [ ]:
result

In [ ]:
result[['Job Title', 'Organisation', 'Work Country']] = result[['jobTitle', 'company', 'location']]

In [ ]:
result.info()

In [ ]:
result.sort_values(by='Full Name', inplace=True)
result.head()

In [ ]:
result['Work Country'].value_counts()

In [ ]:
# result['Work Country'][0].split()[-1]

In [ ]:
filt = result[ 'location'].str.contains(",")==True
result['Work Country'] = result['Work Country'].where(~filt , result['location'].str.partition(",")[2])

In [ ]:
result

In [ ]:
filt = result[ 'location'].str.contains(",")==False
result['City'] = result['Work Country'].where(filt , result['location'].str.partition(",")[0])

In [ ]:
data.rename(columns={'Careerl Level': 'Career Level'}, inplace=True)
result2 = result[data.columns.tolist()]
result2.to_csv('./results.csv')

In [ ]:
result[pd.notnull(result['City'])]
print(result[pd.notnull(result['City'])].shape)

In [ ]:
result['Job Title'].value_counts()

In [ ]:
result.shape

In [ ]:
result.to_csv('./results.csv')

In [ ]:
result.rename(columns={'Careerl Level': 'Career Level'}, inplace=True)

In [ ]:
mid_lev = ['Head', 'Director', 'Manager', 'Senior', 'Deputy chief of staff', 'Principal', 'Member Of Parliament', 'Managing Editor', 'Head of Department', 'Project Manager', 'Senior Consultant']

In [ ]:
CEO = ['CEO','Chief Executive Officer & Co-Founder','Country Director', 'Managing Partner','Managing Director', 'Managing director','MD', 'Managing partner', 'Founder', 'founder', 'Co-founder', 'President' , 'Executive Director', 'Country Manager', 'Chief Executive Officer', 'Chairman', 'Chairperson', 'Executive Producer', 'Owner', 'Chair', 'Managing Partner', 'Country Director']
len(CEO)

In [ ]:
# ceo_filter = ((result['Job Title'] == 'Principal') | (result['Job Title'].str.contains('|'.join(CEO)na=False))) & (result['Job Title'].str.contains('Deputy|Vice')==False)
# ceo_filter = ((result['Job Title'] == 'Principal') | (result['Job Title'].str.contains('|'.join(CEO)) == True)) & (result['Job Title'].str.contains('Deputy|Vice')==False)

ceo_df = result[result['Job Title'].str.contains(r'|'.join(CEO))]
print(ceo_df.shape)
ceo_df['Job Title'].value_counts()

In [ ]:
results['Career Level'] = pd.np.where(result['Job Title'].str.contains('|'.join(CEO)), 'CEO',
                                      result['Job Title'].str.contains('|'.join(S_Exec)))

In [ ]:
ceo_df.loc[:,'Career Level'] = 'CEO'
ceo_df.head()

In [ ]:
exec_filter =(result['Job Title'].str.contains('|'.join(S_Exec)) == True) | (result['Job Title'].str.contains(r'(?=.*Head)(?=.*Director)') == True)
exec_df = result[exec_filter]
exec_df

In [ ]:
mid_filter = (non_execs['Job Title'].str.contains('|'.join(mid_lev)) == True)